# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# ===============================
# Django
# ===============================
db.sqlite3
media/
staticfiles/

# ===============================
# React / Node
# ===============================
node_modules/
build/
dist/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Operating System
# ===============================
.DS_Store
Thumbs.db